# Configuration File

# Path to your Google Chrome Executable
# Windows Example: C:\Program Files\Google\Chrome\Application\chrome.exe
# Mac Example: /Applications/Google Chrome.app/Contents/MacOS/Google Chrome
# Linux Example: /usr/bin/google-chrome
CHROME_EXEC_PATH=

# Path to your Chrome User Data Directory (Optional but recommended for login)
# Leave blank if using cookies.json
CHROME_PROFILE_DIR=

# Headless mode (true/false). Set to false to debug.
HEADLESS=true

